<div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="needs.length === 0" class="no-needs">
    No needs available.
  </div>
  
  <div *ngIf="needs.length > 0" class="needs-container">
    <div *ngFor="let need of needs" class="need-item">
      <div class="user-info">
        <div class="user-avatar">
          {{ need.user ? need.user.username.charAt(0) : '?' }}
        </div>
        <div class="user-details">
          <div class="user-name">
            {{ need.user ? need.user.username : 'Unknown User' }}
          </div>
          <div class="need-content">
            <p>{{ need.listOfNeeds }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  